🔧 config: Add or update configuration files.

Files changed:
{{- $status := (output "chezmoi" "status") -}}
{{- range (splitList "\n" $status) -}}
  {{- if . -}}
    {{- $fields := (splitList " " .) -}}
    {{- $action := index $fields 1 -}}
    {{- $file := index $fields 2 -}}
    {{- if eq $action "A" -}}
{{ printf "\n- Added: %s" $file }}
    {{- else if eq $action "M" -}}
{{ printf "\n- Modified: %s" $file }}
    {{- else if eq $action "D" -}}
{{ printf "\n- Deleted: %s" $file }}
    {{- else -}}
{{ printf "\n- %s" $file }}
    {{- end -}}
  {{- end -}}
{{- end -}}

