# dotfiles repo

## `chezmoi` dotfiles

### List of dotfiles

{{- $managedFiles := (output "chezmoi" "managed") -}}
{{- range (splitList "\n" $managedFiles) -}}
  {{- if . -}}
- {{ . }}
  {{- end -}}
{{- end -}}

